@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

main {
    padding: 20px 140px;
}

.merry-font {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Styling hero */
#hero {
    background: linear-gradient(to bottom,
            rgba(7, 2, 17, 1) 0%,
            rgba(7, 2, 17, 0) 100%), url(../images/Banner\ Image.png);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;

}

#hero .banner-container {
    width: 635px;
    height: 148px;
}

#hero .hero-subtitle,
.hero-title {
    color: #FFFFFF;
    font-size: 36px;
}

#hero .banner-container {
    text-align: center;
}

.hero-title {
    font-size: 72px;
    margin-top: 16px;
}

/* Styling ad Container */

#ad-container {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

#ad-container .offer {
    color: #FF0000;
    font-size: 88px;
    font-family: bold;
}

#ad-container .ad-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 803px;
    gap: 16px;
}

#ad-container .ad-title {
    font-size: 24px;
    color: #FF0000;
}

#ad-container .ad-category {
    font-size: 48px;
    color: #070211;
}

/* Styling parti-sections */

#parti-section {
    margin-top: 120px;
    background: linear-gradient(to right, rgba(7, 2, 17, 1) 0%, rgba(7, 2, 17, 0) 100%), url(../images/Vectorrr.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 16px;
    padding: 0px 173px;
}

#parti-section .parti-title {
    font-size: 64px;
    color: #FFFFFF;
}

#parti-section .parti-img img {
    width: 320px;
    height: 465px;
}

#parti-section .parti-content {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 0px;
    margin-top: 24px;
}

#parti-section button {
    background: rgba(255, 255, 255, 0.05);
    /* Semi-transparent white background */
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* Optional subtle border */
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 32px;
}